


<!DOCTYPE html>
<html lang="en">
    <head>
      <title>hejhopp</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
      <link rel="stylesheet" href="css/deli-very.css">

      <script type="text/javascript" src="js/menu.js" defer></script>
      <script src="js/js_script.js" defer></script>
      <script src="/socket.io/socket.io.js" defer></script>
      <script src="https://vuejs.org/js/vue.js" defer></script>
      <script src="js/vue_script.js" defer></script>
      <script src="/vue/vue.js" defer></script>



    </head>



    <body>
      <main id="mainID">
        <header class="helaheader">  <h1 id="företagsnamn">  Fristedts Firma</h1>
        <img src="https://cdn2.cdnme.se/cdn/7-2/2307598/images/2010/img_8432_119316874.jpg" id="headerfoto">
      </header>







     <section  id="allahamburgare">
       <h2>Välj hamburgare </h2>
       <p> Här kan du välja vilken hamburgare du vill ha
       </p>
       <div id="menyHamburgare">
      <div class="wrapper">
       <div class="box name" v-for="burger in theburgers" >  {{ burger.name }} </div>
       <div class="box pic" v-for="burger in theburgers" ><img :src="burger.bild" width="250"> </div>
       <div class="box Kcal" v-for="burger in theburgers" > {{burger.kCal}} </div>
     </div>

    </div>
     </section>





     <section id="orderInfo">
      <h3>  Kontaktuppgifter</h3>
      <p>Fyll i Kontaktuppgifter plz</p>

      <p>
        <label for="Namn"> Namn</label><br>
          <input type="text" placeholder="För- och Efternamn">
        </p>
        <p>
          <label for="Mail"> Mail</label><br>
            <input type="email" placeholder="Mailadress">
          </p>
          <p>
            <label for="Gatuadress"> Gata</label><br>
              <input type="text" placeholder="Gatuadress">
            </p>
            <p>
              <label for="Husnumner"> Hus nr</label><br>
                <input type="number" placeholder="Husnumer jao">
              </p>
              <p>
                  <label for="recipient">Betalningsmetod</label><br>
                  <select id="recipient" name="rcp">
                      <option>Kort</option>
                      <option>kontanter</option>
                      <option>Vill inte betala alls</option>
                  </select>
              </p>
              <p>
                <h5> Ska det bli gott? </h5>
                  <input type="radio" id="ja" name="gott" checked="checked" >
                  <label for="ja">ja</label><br>
                  <input type="radio" id="nej" name="gott" >
                  <label for="nej">nej</label><br>
                  <input type="radio" id="ganska" name="gott"  >
                  <label for="ganska">ganska</label><br>
              </p>

    </section>
    <button type="submit" v-on:click="sendOrder()"><img src="https://static4.depositphotos.com/1006863/279/v/950/depositphotos_2799900-stock-illustration-funny-cartoon-hamburger.jpg" width="25" height="20" > Send Info </button>
    </main>
<footer> FF burgers</footer>
    </body>
</html>
