<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
    </head>

    <body>
      <main>
        <h1>  Woho hamburgare</h1>
      </main>
     <section>
       <h2>Välj hamburgare </h2>
       <p> Här kan du välja vilken hamburgare du vill ha
       </p>

     <table>

         <thead>

           <tr>
             <th>Smaskig hamburgare</th>
             <th>Glutenfri hamburgare</th>
             <th>Fri Hamburgare</th>
           </tr>

         </thead>

         <tbody>
           <tr>
              <td><img src="https://pagen.se/globalassets/kampanjer/garden-party-2018/burgare-med-vitloks--och-chilimajonas.png.png?w=734&h=462&mode=crop&resized=true"width="250" height="200"></td>
              <td><img src="https://assets.icanet.se/q_auto,f_auto/imagevaultfiles/id_161382/cf_259/svamp-och-quinoaburgare-med-picklade-senapsfron-oc.jpg"width="250"height="200"></td>
              <td><img src="https://www.santamariaworld.com//globalassets/_recipes/tex-mex/hamburgare_chili.jpg"width="250"height="200"></td>
            </tr>

         <tr>
            <td>
              <ul>
                <li>Gluten</li>
                <li>Bröd</li>
                <li>Mjöl</li>
            </ul>
          </td>
          <td>
              <ul>
                <li>Inte så gott bröd</li>
                <li> Inte så gott mjöl</li>
                <li> Inte så god </li>
              </ul>
          </td>
            <td>
              <ul>
                <li> Lever utanför sociala konstruktioner</li>
                <li> Tycker inte om regler</li>
                <li> anarkist?</li>
              </ul>
            </td>
        </tr>
      </tbody>
      </table>

     </section>

     <section>
      <h3>  Kontaktuppgifter</h3>
      <p>Fyll i Kontaktuppgifter plz</p>

      <p>
        <label for="Namn"> Namn</label><br>
          <input type="text" placeholder="För- och Efternamn">
        </p>
        <p>
          <label for="Mail"> Mail</label><br>
            <input type="email" placeholder="Mailadress">
          </p>
          <p>
            <label for="Gatuadress"> Gata</label><br>
              <input type="text" placeholder="Gatuadress">
            </p>
            <p>
              <label for="Husnumner"> Hus nr</label><br>
                <input type="number" placeholder="Husnumer jao">
              </p>
              <p>
                  <label for="recipient">Betalningsmetod</label><br>
                  <select id="recipient" name="rcp">
                      <option>Kort</option>
                      <option>kontanter</option>
                      <option>Vill inte betala alls</option>
                  </select>
              </p>
              <p>
                <h5> Kön </h5>
                  <input type="radio" id="gender" name="gender" checked="checked" >
                  <label for="gender">Burgarn bryr sig inte</label><br>
                  <input type="radio" id="ickebinär" name="gender" >
                  <label for="ickebinär">ickebinär</label><br>
                  <input type="radio" id="binär" name="gender"  >
                  <label for="binär">binär</label><br>
              </p>

    </section>
    <button type="Send order"><img src="https://static4.depositphotos.com/1006863/279/v/950/depositphotos_2799900-stock-illustration-funny-cartoon-hamburger.jpg" "width="25"height="20"> Send Info</button>

<footer> FF burgers</footer>
    </body>
</html>
